# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음
* set : 집합 자료형, 중복 없는 자료 만들 때, 모든 자료형을 넣을 수 있음, 중복 불가 {} 안에 자료 넣어서 만듦

# 데이터 타입을 출력하는 함수 type(변수) -> print 하는 습관 들이기!

# 정수형 변수(int)

In [2]:
a=10
print(a)

10

In [3]:
print(type(a))

<class 'int'>

In [4]:
type(a)

int

In [3]:
aa='10'
print(aa)

10

In [4]:
print(type(aa))

<class 'str'>

In [5]:
aa=10
print(type(aa))

<class 'int'>

# 실수형 변수 float

In [6]:
b=3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [8]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수 변수와 정수 변수 연산

In [9]:
print(a,aa)

10 10

In [10]:
print(a+aa)
print(a-aa)
print(a*aa)
print(a/aa) # 정수/정수=실수

20
0
100
1.0

# 문자형 str -> 파이썬에서는 문자, 문자열 둘 다 str

In [13]:
c='문'
d='자'
e='문자열'

In [14]:
print(c,type(c))
print(d,type(d))
print(e,type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ (역슬래시)를 사용할 수 있다. \
자르고 다음 줄로 넘기고 싶은 부분에 \ 쓰기

양 끝에 따옴표 3개(""") 붙이면 입력한 그대로 다음 줄로 넘겨짐

In [6]:
long_char="화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \
\ 를 사용할 수 있다."
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [19]:
long_char2="""따옴표 3개로 문자열 묶으면 줄바꿈이 자동으로 된다.
그래서 \를 쓸 필요가 없다"""

In [20]:
print(long_char2)

따옴표 3개로 문자열 묶으면 줄바꿈이 자동으로 된다.
그래서 \를 쓸 필요가 없다

In [21]:
long_char2

'따옴표 3개로 문자열 묶으면 줄바꿈이 자동으로 된다.\n그래서 \\를 쓸 필요가 없다'

# 문자 덧셈 + , 문자 반복 *

In [22]:
c

'문'

In [23]:
d

'자'

In [24]:
c+d

'문자'

In [25]:
c*4

'문문문문'

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [26]:
c+d

'문자'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [27]:
d*2

'자자'

In [28]:
(c+d)*5

'문자문자문자문자문자'

In [30]:
'='*20

'===================='

# 문자열은 순서가 있다.
# 가장 앞글자가 0번 0번부터 순서대로 숫자가 증가

In [17]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다.'

길이를 재는 함수 len()

In [18]:
len(long_char)

42

* 인덱싱: 변수명[인덱스번호]
* 슬라이싱: 변수명[시작번호:끝번호+1]

In [33]:
long_char[3]

' '

In [38]:
print(long_char[3])

In [39]:
print(long_char[2])

이

In [34]:
long_char[4:10]

'좁아서 문자'

In [37]:
print(long_char[4:10])

좁아서 문자

In [30]:
print(long_char[4:-1]) #4부터 마지막 전까지

좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다

In [24]:
print(long_char[:43])

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

# 리스트  list [ ]
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 디셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [31]:
l1=[1,2.0,'삼',[1,2,3], (4,5,6),{"key":"value"}] #리스트 안에 있는 리스트, 튜플, 딕셔너리 각각 포장된 하나씩으로 봄
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

list는 순서가 있는 자료형

In [43]:
print(l1,type(l1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [44]:
l1[2]

'삼'

In [46]:
l1[2:5]

['삼', [1, 2, 3], (4, 5, 6)]

In [60]:
l1.append("리스트 자료형 추가")

In [54]:
l1

[1,
 2.0,
 '삼',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'},
 '리스트 자료형 추가',
 '리스트 자료형 추가',
 '리스트 자료형 추가']

In [55]:
del l1[5]

In [56]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), '리스트 자료형 추가', '리스트 자료형 추가', '리스트 자료형 추가']

## 리스트는 리스트 내의 자료형을 그대로 유지함

In [37]:
print(l1, type(l1))

for item in l1:
    print(item, type(item)) #반복문 써서 하나씩 빼서 출력

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>
1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

## 중첩리스트
- 리스트 안에 리스트가 있는 경우

In [39]:
l2=[1,2,3,[4,5,[6,7,8,[9,10]]]]
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

In [40]:
len(l2)

4

In [41]:
len(l2[3])

3

- 인덱싱으로 9를 출력하세요

- [4,5,[6,7,8,[9,10]]] <- 이거 전체가 인덱스3번임

In [64]:
l2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [67]:
l2[3][1] #ㅣ2[3]의 인덱스1번 =5

5

In [68]:
l2[3][2]

[6, 7, 8, [9, 10]]

In [72]:
l2[3][2][:-2]

[6, 7]

In [70]:
l2[3][2][3]

[9, 10]

In [71]:
l2[3][2][3][0]

9

# Tuple 튜플 ( )
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.!! -> 변화하면 안 되는 자료에 튜플 사용
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [42]:
l3=(1,2.0,'삼',[1,2,3], (4,5,6),{"key":"value"})
l3

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [43]:
print(l3, type(l3))

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [44]:
l3.append("튜플") #튜플은 데이터 수정 안 됨!!

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
l3[-1]

{'key': 'value'}

In [46]:
del l3[-1] #튜플은 삭제 안 됨!

TypeError: 'tuple' object doesn't support item deletion

In [82]:
l3[2:4]

('삼', [1, 2, 3])

In [84]:
l3[3]

[1, 2, 3]

In [83]:
l3[3][1]

2

### 중첩튜플

In [48]:
t2=(1,2,3,(4,5,(6,7,8,(9,10))))
t2

(1, 2, 3, (4, 5, (6, 7, 8, (9, 10))))

In [49]:
t2[2]

3

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* **key를 호출하면 value가 출력됨 -> 인덱스는 없음! 키로 호출하면 밸류 출력됨**

In [86]:
dic1={"이름":"홍길동", "나이":33, "키":175.3, "가족":["둘리","또치","도우너"]}
dic1

{'이름': '홍길동', '나이': 33, '키': 175.3, '가족': ['둘리', '또치', '도우너']}

In [87]:
dic1["이름"] #이름 이라는 키로 호출함

'홍길동'

In [88]:
dic1["가족"] #가족 이라는 키로 값을 호출함

['둘리', '또치', '도우너']

- 도우너만 출력해라

In [89]:
dic1["가족"] #"가족" 키에 있는 밸류인 리스트가 출력됨

['둘리', '또치', '도우너']

In [92]:
dic1["가족"][2] #가족 키의 밸류인 리스트 안에서 인덱스2번 ='도우너'

'도우너'

In [3]:
dic2={"이름":"홍길동", "나이":33, "키":175.3,
      "가족":[{"둘리":["초능력","공룡"]},{"또치":["달리기","타조"]},{"도우너":['음악', '외계인']}]}

- 도우너의 능력을 찾아 출력해라

In [52]:
dic2["가족"][2]['도우너']

['음악', '외계인']

- 도우너에서 음악 출력해라

In [106]:
dic2['가족'] #결과로 리스트 출력됨

[{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}]

In [101]:
dic2['가족'][2] #튜플 출력됨

{'도우너': ['음악', '외계인']}

In [102]:
dic2['가족'][2]["도우너"] #리스트 출력됨

['음악', '외계인']

In [4]:
dic2['가족'][2]["도우너"][0]

'음악'

- 딕셔너리의 길이는 key의 갯수

In [107]:
len(dic2)

4

In [5]:
len(dic2['가족'])

3

### 딕셔너리에 자료추가

In [13]:
dic2['학교']='구름대학교' #dic2 딕셔너리에 '학교'라는 키와 그에 맞는 밸류 추가

In [9]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.3,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

In [110]:
dic2['전화번호']=['010-1111-2222','02-123'] #문자열이 들어있는 리스트 추가

In [111]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.3,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교',
 '전화번호': ['010-1111-2222', '02-123']}

In [14]:
del dic2['학교'] #딕셔너리 키, 밸류 삭제
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.3,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}]}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

In [16]:
a=3
b='3'
print(a+b) #숫자+문자 이기 때문에 오류

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
a=3
b='3'
print(a+ int(b)) ##형변환 함수를 이용해 문자를 정수 숫자로 일시적으로 형변환

6

In [21]:
a=3
b='3'
print(a+int(b))
print("a:", type(a), "b:",type(b))
print("a:", type(a), "int(b):",type(int(b)))

6
a: <class 'int'> b: <class 'str'>
a: <class 'int'> int(b): <class 'int'>

* 실수로 변환 float()

In [23]:
a+float(b)

6.0

In [24]:
print(b,type(b))

3 <class 'str'>

In [27]:
c=4.3

In [28]:
a+c

7.3

In [29]:
int(a+c)

7

In [30]:
int(7.7) #정수 형변환하면 반올림 아니고 버림!!

7

* 문자열로 변환 str()

In [31]:
print(a, type(a))

3 <class 'int'>

In [32]:
str(a)

'3'

In [33]:
type(str(a))

str

In [34]:
str(a)+b #문자와 문자가 더해져서 문자열이 됨!

'33'

* 리스트 형변환 list()
  * 튜플->리스트로 변환

In [36]:
t=(1,2,3,4,5) #튜플
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [38]:
l1=list(t) #튜플에서 리스트로 형변환 : 자료 추가 가능해짐
print(l1,type(l1))

[1, 2, 3, 4, 5] <class 'list'>

In [39]:
l1.append(6) #리스트에는 데이터 추가 가능
print(l1)

[1, 2, 3, 4, 5, 6]

* 튜플로 형변환 tuple()

* 튜플에 데이터 추가하려면 리스트로 형변환 후 데이터 추가하고, 다시 튜플로 형변환해주기

In [40]:
t2=tuple(l1) #리스트에서 튜플로 다시 형변환
print(t2, type(t2))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [41]:
dic2.keys()

dict_keys(['이름', '나이', '키', '가족'])

In [42]:
print(dic2.keys(), type(dic2.keys()))

dict_keys(['이름', '나이', '키', '가족']) <class 'dict_keys'>

In [43]:
list(dic2.keys()) #리스트로 바꿔주면 인덱싱, 슬라이싱 가능

['이름', '나이', '키', '가족']

In [46]:
print(list(dic2.keys()), type(list(dic2.keys())))
print(tuple(dic2.keys()), type(tuple(dic2.keys())))

['이름', '나이', '키', '가족'] <class 'list'>
('이름', '나이', '키', '가족') <class 'tuple'>

In [51]:
print(dic2.items(), type(dic2.items()))

dict_items([('이름', '홍길동'), ('나이', 33), ('키', 175.3), ('가족', [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}])]) <class 'dict_items'>

In [48]:
list(dic2.items())

[('이름', '홍길동'),
 ('나이', 33),
 ('키', 175.3),
 ('가족',
  [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}])]

- 숫자 형태의 문자열을 진짜 숫자로 바꾸기 -> 실수로만 바꿀 수 있음! 정수로 바꿀 수 없음

In [52]:
d='3.4' #문자열

In [53]:
print(d, type(d))

3.4 <class 'str'>

In [55]:
int(d) #문자를 정수로 못 바꿈
#실수 형태의 소숫점이 있는 문자는 float으로 변환해야 한다.

ValueError: invalid literal for int() with base 10: '3.4'

In [59]:
float(d) #실수로 바꾸는 것만 가능!!

3.4

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열!! 숫자를 넣어도 문자열로 인식됨

In [61]:
input_name=input("이름을 입력하세요:")
print(input_name)

이름을 입력하세요:김구름
김구름

input함수를 이용해서 숫자 2개를 입력 받아 더한 후 출력하세요.

In [64]:
num1=input("숫자1을 입력하세요")
num2=input("숫자2를 입력하세요")
print("num1+num2:",  num1+num2) #잘못됨

숫자1을 입력하세요5
숫자2를 입력하세요3
num1+num2: 53

In [67]:
num1=input("숫자1을 입력하세요") #-> input에 뭘 넣던지 문자열로 받음!!, 숫자 계산하려면 형변환 해주기
num2=input("숫자2를 입력하세요")
print("num1:", num1, type(num1))
print("num2:", num2, type(num2))
print("num1+num2:",  int(num1)+int(num2))

숫자1을 입력하세요5
숫자2를 입력하세요3
num1: 5 <class 'str'>
num2: 3 <class 'str'>
num1+num2: 8

* input().split() 으로 여러 데이터를 list 형태로 받기

- split() : 문자열이 공백을 기준으로 나눠져서 list로 바뀜

In [69]:
nums=input("숫자를 5개 공백으로 구분해서 입력하세요:")
print(nums, type(nums))
nums

숫자를 5개 공백으로 구분해서 입력하세요:1 2 3 4 5
1 2 3 4 5 <class 'str'>

'1 2 3 4 5'

In [70]:
nums=input("숫자를 5개 공백으로 구분해서 입력하세요:"). split()
print(nums, type(nums))
nums

숫자를 5개 공백으로 구분해서 입력하세요:1 2 3 4 5
['1', '2', '3', '4', '5'] <class 'list'>

['1', '2', '3', '4', '5']

In [71]:
nums

['1', '2', '3', '4', '5']

숫자 5개를 더해라

In [72]:
int(nums[0])+int(nums[1])+int(nums[2])+int(nums[3])+int(nums[4])

15

In [74]:
"안녕하세요 저는 학생입니다".split() #문자열이 공백 기준으로 쪼개져서 리스트로 저장됨

['안녕하세요', '저는', '학생입니다']