# 리스트와 튜플 사용하기 초급편

In [1]:
a=1
b=2
c=3
d=4
e=5

In [2]:
l1=[1,2,3,4,5]

## 리스트 만들기
- 대괄호 안에 자료를 나열해서 만듦
- 모든 자료형의 데이터를 넣을 수 있음
- 내용이 비어있는 빈 리스트도 생성 가능 []
- 자료가 1개만 있는 리스트도 생성 가능

In [3]:
l2=[]
l2

[]

In [5]:
print(l2, type(l2))

[] <class 'list'>

In [6]:
l3=[2]
print(l3, type(l3))

[2] <class 'list'>

In [7]:
# 리스트 형변환 함수 list()
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 숫자를 생성해주는 range()
- range(시작번호, 끝번호+1, step)

In [10]:
#1~10 2칸씩 건너뛰면서 리스트 작성
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [11]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

## 리스트에 자료 추가하기 -> .append()
- 리스트 가장 마지막에 자료가 추가됨

In [13]:
l2

[]

In [15]:
l2.append(3)
l2

[3, 3]

In [16]:
l2.append(3.2)
l2

[3, 3, 3.2]

In [17]:
l2.append('append')
l2

[3, 3, 3.2, 'append']

In [20]:
l2.append([1,2]) #리스트에 리스트 추가
l2

[3, 3, 3.2, 'append', [1, 2], (4, 6), [1, 2]]

In [19]:
l2.append((4,6)) #리스트에 튜플 추가
l2

[3, 3, 3.2, 'append', [1, 2], (4, 6)]

## 특정 위치에 자료 추가 -> .insert()
- insert(추가할 위치 인덱스, 추가할 값)

In [21]:
l2

[3, 3, 3.2, 'append', [1, 2], (4, 6), [1, 2]]

In [22]:
l2.insert(5,'middle')
l2

[3, 3, 3.2, 'append', [1, 2], 'middle', (4, 6), [1, 2]]

## 리스트의 자료 삭제하기
- del 변수명[인덱스 번호] : 해당 인덱스 번호의 자료 삭제
- pop() : 리스트의 가장 끝 자료가 **출력!!** 되면서 삭제됨
- remove(값) : 리스트의 앞부터 일치하는 값 1개를 찾아서 삭제 (정수, 실수 구분X)

In [27]:
l2

[3, 3, 3.2, 'append', [1, 2], 'middle', (4, 6)]

In [28]:
#인덱스 7번 삭제
del l2[7]
l2

IndexError: list assignment index out of range

In [31]:
#pop() : 리스트의 가장 마지막 값이 출력 후 삭제
l2.pop()

[1, 2]

In [35]:
#remove() : 특정 단어 삭제 (여러 개 있으면 앞의 값 삭제) -> remove 많이 씀!!
l2.remove("append")
l2

ValueError: list.remove(x): x not in list

In [36]:
l2.remove(3.0) # remove는 3=3.0 같게 취급함
l2

[3.2]

## 리스트 안에서 특정 자료의 위치 찾을 때 -> .index()

In [37]:
l2.insert(2,3)
l2

[3.2, 3]

In [41]:
l2.index(3)

1

## 리스트 확장하기 -> .extend()
- 리스트에 자료 추가하되 요소만!! 추가
- 통채로 들어가는 게 아니라 그 안에 들어있는 요소만 추가!!
- append() 는 통째로 추가

In [44]:
a=[1,2,3]
b=[4,5,6]

In [43]:
#append 쓸 경우 -> list가 그대로 추가됨
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [46]:
#extend는 리스트가 통채로 그대로 들어가는 게 아니라 요소만 뽑아서 추가됨
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]

## list + list == .extend() 를 한 것과 동일
- 재할당 꼭 해줘야 함!

In [50]:
# 리스트 더하기(+) 하면 요소만 뽑아서 더해져서 리스트 만들어 짐!
a=a+b
a

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

## 리스트 안에서 원하는 값의 인덱스 찾기
- in, not in : 리스트 안에 찾는 요소가 있는지 확인 True/False
- .index(값) : 찾는 자료의 첫 번째 요소의 인덱스 출력
- .index(찾는 값, 시작 인덱스 번호) : 특정 위치 이후의 자료 인덱스 출력

In [70]:
c=a+b
c

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 7, 7, 7, 7, 6, 7]

In [52]:
5 in c

True

In [53]:
c.index(5)

4

In [55]:
# 5가 여러 개 있는 경우, 두 번째로 나오는 5를 찾을 때
c.index(5,5)

7

In [72]:
c.append(b) #통채로 추가됨
c

[1,
 2,
 3,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 7,
 7,
 7,
 7,
 6,
 7,
 [4, 5, 7, 7, 7, 7, 6, 7]]

In [74]:
c[-1] #c[-1] 은 리스트 형태임

[4, 5, 7, 7, 7, 7, 7, 6, 7]

In [76]:
c[-1].insert(2,7) #c[-1] 리스트 의 인덱스2번에 7 넣기
c

[1,
 2,
 3,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 7,
 7,
 7,
 7,
 6,
 7,
 [4, 5, 7, 7, 7, 7, 7, 7, 7, 6, 7]]

In [78]:
#리스트 안에 리스트에 있는 원소 찾을 때 풀어야 찾을 수 있음!!
c.index(7)
c[9].index(7) # -> 포장 풀어서 7 찾기!!

AttributeError: 'int' object has no attribute 'index'

# 특정 요소의 개수 세기 -> count(값)

In [79]:
c

[1,
 2,
 3,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 6,
 4,
 5,
 7,
 7,
 7,
 7,
 6,
 7,
 [4, 5, 7, 7, 7, 7, 7, 7, 7, 6, 7]]

In [81]:
c.count(5) #리스트 한 겹 안에 있는 것만 찾아서 개수 셈. (리스트 안에 리스트 안은 안 셈)

5

## 리스트 순서 뒤집기 -> .reverse()
- 실행 즉시 원본 데이터 변경

## 역순 인덱싱으로 뒤집기 -> [::-1]

In [83]:
c2=[1,2,3,4,5,6,7,7,8,8,8]

In [85]:
c2.reverse()
c2

[1, 2, 3, 4, 5, 6, 7, 7, 8, 8, 8]

In [86]:
c2[::-1]

[8, 8, 8, 7, 7, 6, 5, 4, 3, 2, 1]

## 리스트 정렬 -> .sort() 오름차순 / .sort(reverse=True) 내림차순
- 실행 즉시 원본 데이터 바꿈

In [87]:
a

[1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [88]:
a.sort()
a

[1, 2, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6]

In [89]:
a.sort(reverse=True)
a

[6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 2, 1]

## sorted(리스트) 오름차순 / sorted(리스트, reverse=True) 내림차순

In [92]:
d=[1,5,8,2,9,3,5]

In [93]:
d

[1, 5, 8, 2, 9, 3, 5]

In [94]:
sorted(d)

[1, 2, 3, 5, 5, 8, 9]

In [95]:
sorted(d, reverse=True)

[9, 8, 5, 5, 3, 2, 1]

# 리스트 원소의 값 바꾸기, 업데이트 하기 -> 새로운 값으로 덮어쓰기
- 변수[바꿀 곳 인덱스]=새로운 값

In [96]:
a

[6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 2, 1]

In [100]:
a[3]='4'
a

[6, 6, 6, '4', 5, [1, 3, 4], 5, 5, 4, 4, 4, 4, 3, 2, 1]

In [101]:
a[5]=[1,3,4]
a

[6, 6, 6, '4', 5, [1, 3, 4], 5, 5, 4, 4, 4, 4, 3, 2, 1]

In [102]:
a[0:2]=5,6,7
a

[5, 6, 7, 6, '4', 5, [1, 3, 4], 5, 5, 4, 4, 4, 4, 3, 2, 1]

# 튜플 tuple ()
- 튜플로 리스트처럼 모든 자료형을 넣어 만들 수 있다
- 순서가 있는 자료형, 인덱싱, 슬라이싱 가능
- 자료의 추가, 삭제 안 됨
- () 안에 자료 넣어서 만듦
- 자료 1개만 넣어서 만들 때는 반드시 (자료, ) 형식이어야 한다 -> 튜플 원소 1개일 때는 꼭 , 해주기!!
- 튜플 생성 시 자료가 2개 이상인 경우 () 생략 가능
- 빈 튜플 생성 가능

In [103]:
t=(1,2,3)
t

(1, 2, 3)

In [104]:
t[:2]

(1, 2)

In [105]:
t[::-1]

(3, 2, 1)

In [108]:
t.sort() #sort는 요소 바로 변경하고 저장돼서 에러남 - 튜플은 변경 안 됨

AttributeError: 'tuple' object has no attribute 'sort'

In [107]:
sorted(t) #저장이 바로 안 돼서 sorted는 가능
#내부적으로 리스트로 바뀜!

[1, 2, 3]

In [110]:
t=sorted(t)
t

[1, 2, 3]

In [112]:
t=tuple(t)
t

(1, 2, 3)

In [114]:
sorted(t) #자료형이 자동으로 내부적으로 리스트로 바뀜

[1, 2, 3]

## 튜플+튜플 = 두 개의 튜플 요소가 하나로 합쳐짐
- () 빈 튜플 + (1,3,5)=(1,3,5)

In [116]:
t=(1,2,3)
t2=(4,5)
t3=t+t2
t3

(1, 2, 3, 4, 5)

In [117]:
t3*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# 시퀀스 객체 : 문자열, list, tuple
- 순서 있는 자료형
- 인덱싱, 슬라이싱
- 반복문에 넣어서 자료 하나씩 꺼내기 가능
- 시퀀스 객체 + 시퀀스 객체 (더하기) = 합쳐짐
- 시퀀스 객체 * 숫자 = 숫자만큼 반복 복사돼서 늘어남

In [120]:
s="문자열"
l1=[1,2,3]
l2=[4,5,6]
t1=(1,2,3)
t2=(4,5,6)

In [121]:
s*2

'문자열문자열'

In [123]:
for item in l1:
    print(item)

1
2
3

In [124]:
for item in l1[::-1]:
    print(item)

3
2
1

## 리스트 튜플은 sum(), max(), min() 함수로 연산 가능

In [125]:
max(t1)

3

In [127]:
# 평균 구하기
sum(t3)/len(t3)

3.0