# 딕셔너리 사용하기 -> 숫자 순서 인덱스 아니고 키 이름으로 값 불러오기!!
- 딕셔너리 dict 타입, JSON형이라고도 함
- web에서 자료를 주고 받을 때 주로 사용하는 방식(API)
- key : value 쌍으로 이루어진 자료형
- key를 호출하면 value가 나온다
- 자료에 이름표를 붙인 형태
- key에는 list,dict를 제외한 자료형이 올 수 있다.
- value에는 모든 자료형의 데이터가 들어갈 수 있다.

# 딕셔너리 만들기
- 중괄호 안에 key : value 쌍으로 만든다.
- 빈 딕셔너리 생성 가능 {}
- dict() 함수를 이용해서 대량의 딕셔너리 생성 가능

In [2]:
d={'년월':'20250314','국가':'미국', '방문자수':1000}
d

{'년월': '20250314', '국가': '미국', '방문자수': 1000}

In [3]:
d['국가']

'미국'

In [4]:
d2={}
print(d2, type(d2))

{} <class 'dict'>

# dict key (딕셔너리 키)의 자료형
- 문자열, 정수, 실수, 불린(True/False), tuple
- dict, list는 key가 될 수 없다. -> key는 변경되면 안 되기 때문에

In [7]:
#튜플은 key로 올 수 있음
d3={"백":100, 100:"백", 3.5:[2.5,2.7], False:0, (0,'서울'):'종로구'}
d3

{'백': 100, 100: '백', 3.5: [2.5, 2.7], False: 0, (0, '서울'): '종로구'}

In [8]:
#리스트는 key로 올 수 없음
d4={"백":100, 100:"백", 3.5:[2.5,2.7], False:0, [0,'서울']:'종로구'}
d4

TypeError: unhashable type: 'list'

In [9]:
#딕셔너리는 key로 올 수 없음
d5={"백":100, 100:"백", 3.5:[2.5,2.7], False:0, {0:'서울'}:'종로구'}
d5

TypeError: unhashable type: 'dict'

In [11]:
d3

{'백': 100, 100: '백', 3.5: [2.5, 2.7], False: 0, (0, '서울'): '종로구'}

In [13]:
d3['백']

100

In [14]:
d3[100]

'백'

# 딕셔너리 value의 자료형
- value에는 모든 자료형이 올 수 있다.

In [16]:
d4={'정수':100, '실수':3.5, '문자열':'딕셔너리의 값', '리스트':[1,2,3,4], '튜플':(1,2,3,4),
    '딕셔너리':{'key':'value'}, '불린':True, 'set':{1,2,3}}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '불린': True,
 'set': {1, 2, 3}}

In [17]:
d4['정수']

100

In [19]:
d4['리스트'][2]

3

In [20]:
d4['딕셔너리']['key']

'value'

# 딕셔너리에 자료 추가하기
- 변수['새로운key']=자료
- 이미 딕셔너리에 같은 이름의 key가 있는 경우 덮어쓰기가 됨

In [21]:
a=10
a=50
print(a)

50

In [23]:
# 빈 딕셔너리
d5={}
print(d5, type(d5))

{} <class 'dict'>

In [25]:
#d5 딕셔너리에 키,밸류 추가
d5['번호']=0
d5

{'번호': 0}

In [27]:
d5[100]='백'
d5

{'번호': 0, 100: '백'}

- 이미 있는 key에 다른 자료 넣기 -> 덮어씀

In [29]:
# 같은 키여서 덮어쓰임
d5['번호']=5
d5

{'번호': 5, 100: '백'}

- 딕셔너리에서 key가 중복되면 나중에 들어온 key의 value로 내용이 변경됨

In [31]:
# 키 겹치면 뒤의 값으로 변경됨
d7={'번호':0, '이름':'홍길동', '나이':30,
   '번호':1, '이름':'고길동', '나이':20}
d7

{'번호': 1, '이름': '고길동', '나이': 20}

# dict 함수를 사용해서 딕셔너리 만들기
# 할당하는 식으로 딕셔너리 만들 수 있음!! -> 1,3번 많이 씀

## 1. dict(key1=value1, key2=value2, key3=value3) -> 이 함수 쓰려면 키가 무조건 문자!
- key에는 ""를 사용하지 않는다
- key는 모두 문자 타입으로 변환된다
- value가 문자형이면 반드시 ""가 필요하다

In [37]:
dict_ex1=dict(정수=100, 실수=3.5, 문자열='딕셔너리의 값', 리스트=[1,2,3,4], 튜플=(1,2,3,4),
    딕셔너리2=dict(key='value'), 블린=True)
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리2': {'key': 'value'},
 '블린': True}

## 2. dict([(key1,value1),(key2,value2),(key3,value3)])
-  리스트 안에 - 키,밸류 쌍 튜플들을 넣고 -> dict함수로 감싸주기

In [42]:
dict_ex2=dict([(0,3),(3.5, '3.5'),('list',[1,3,4])])
dict_ex2

{0: 3, 3.5: '3.5', 'list': [1, 3, 4]}

## 3. dict(zip([key1,key2,key3],[value1,value2,value3]))
- key 묶음 리스트와 value 묶음 리스트를 zip 함수로 합친 후 dict 생성
- key 묶음 리스트와 value 묶음 리스트 요소 개수가 같아야 함.
- zip함수 특징 : 개수 차이가 날 경우 적은 개수의 요소 수만큼만 생성

In [44]:
# zip함수 특징 : 개수 차이가 날 경우 적은 개수의 요소 수만큼만 생성
for nums in zip([1,2,3,4],[5,6,7,8],[9,10]):
    print(nums)

(1, 5, 9)
(2, 6, 10)

In [46]:
for item in zip(['key1','key2','key3'],['value1','value2','value3']):
    print(item)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [51]:
dict_ex3=dict(zip(['정수','리스트','딕셔너리'],[10,[1,2,3],{'key':'value'}]))
dict_ex3

{'정수': 10, '리스트': [1, 2, 3], '딕셔너리': {'key': 'value'}}

# 딕셔너리에서 값 삭제하기
- del 변수명['key'] -> 밸류 값까지 쌍으로 삭제됨
- pop('key')

In [52]:
dict_ex3=dict(zip(['정수','리스트','딕셔너리'],[10,[1,2,3],{'key':'value'}]))
dict_ex3

{'정수': 10, '리스트': [1, 2, 3], '딕셔너리': {'key': 'value'}}

In [53]:
del dict_ex3['딕셔너리']
dict_ex3

{'정수': 10, '리스트': [1, 2, 3]}

In [54]:
dict_ex3.pop('리스트')

[1, 2, 3]

In [55]:
dict_ex3

{'정수': 10}

# 딕셔너리 안에 key가 몇 개 있는지 확인하기 -> len

In [56]:
len(dict_ex3)

1

# 딕셔너리 함수 사용하기

## setdefault(key,value) -> 2번 방법
- 딕셔너리에 key, value를 추가하는 함수 -> 자료 추가
- key가 중복되면 나중에 추가된 값을 무시함 -> 원래 자료 보존
- key만 넣고 value를 생략하면 자동으로 'None'이 입력됨

In [57]:
d

{'년월': '20250314', '국가': '미국', '방문자수': 1000}

In [58]:
#키 중복되면 덮어쓰기
d['년월']=20260108
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000}

In [63]:
d.setdefault('년월','2026년') #.setdefault 쓰고 키 중복되면 값 새로 안 바뀌고 유지
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [64]:
d.setdefault('날씨','맑음') #추가됨
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [68]:
d.setdefault('시간') #key만 주어지고 value 없으면 value값 저절로 none
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음', '시간': None}

# update(key=value) -> 1번 방법 (key1=value1) 할당하는 방법
- 기존에 key 있는 경우 : 값을 새로운 값으로 update
- 새로운 값 추가
- key부분에 '," 사용 안 함

In [69]:
d

{'년월': 20260108, '국가': '미국', '방문자수': 1000, '날씨': '맑음', '시간': None}

In [72]:
d.update(방문자수=500)
d

{'년월': 20260108, '국가': '미국', '방문자수': 500, '날씨': '맑음', '시간': None}

In [74]:
#새로 추가된 값
d.update(분=50)
d

{'년월': 20260108, '국가': '미국', '방문자수': 500, '날씨': '맑음', '시간': None, '분': 50}

## 딕셔너리에서 value를 출력하는 함수 -> .get()
- .get('key', 'key가 없을 때 출력할 기본값')
- 딕셔너리 내에 key가 있다가 없어지는 경우 오류 방지

In [75]:
d['국가']

'미국'

In [77]:
d['나이'] #'나이'라는 key 없어서 에러남

KeyError: '나이'

In [78]:
d.get('국가')

'미국'

In [80]:
d.get('국가', '키없음') 
#만약 '국가'라는 키 없을 때 출력할 것 = '키없음' , 키 있으면 그에 맞는 밸류값 출력됨

'미국'

In [81]:
d.get('나이', '키없음') #만약 '나이'라는 키 없을 때 출력할 것 = '키없음'

'키없음'

## 딕셔너리에서 key, value, (key, value) 목록을 출력하는 함수
- keys() : 딕셔너리에서 key만 출력
- values() : 딕셔너리에서 value만 출력
- items() : 딕셔너리에서 (key,value)를 튜플 형태로 출력

### keys() : 딕셔너리에서 key만 출력
- 결과는 dict_keys 객체로 나옴
- 리스트처럼 생겼지만 list는 아님 -> dict_keys 객체임!
- list(), tuple() 형변환 함수에 넣어주면 데이터 타입 변경돼서 사용 가능

In [84]:
data={'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}}
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [85]:
data.keys() #결과가 리스트 형태지만 리스트 아님!

dict_keys(['info', 'extra'])

In [88]:
data.keys()[0] #리스트 아니어서 인덱싱 불가능

TypeError: 'dict_keys' object is not subscriptable

In [90]:
list(data.keys()) #list로 형변환 -> 인덱싱 가능

['info', 'extra']

In [91]:
list(data.keys())[0]

'info'

In [87]:
data['extra'].keys()

dict_keys(['hobbies', 'location'])

## values() : 딕셔너리에서 value만 출력
- 딕셔너리에서 value만 출력
- 결과는 dict_values 객체로 나옴
- 리스트처럼 생겼지만 list는 아님 -> dict_values 객체임!
- list(), tuple() 형변환 함수에 넣어주면 데이터 타입 변경돼서 사용 가능

In [92]:
data.values()

dict_values([[{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}])

In [93]:
list(data.values())

[[{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}]

In [94]:
list(data.values())[0]

[{'name': 'Alice', 'scores': (95, 88, 92)},
 {'name': 'Bob', 'scores': (78, 85, 89)}]

In [96]:
# scores에서 92 출력하기
list(data.values())[0][0]

{'name': 'Alice', 'scores': (95, 88, 92)}

In [97]:
list(data.values())[0][0]['scores'][2] 
# -> 인덱싱할 때 하나하나 벗기면서 단계적으로 리스트인지 딕셔너리인지 잘 보기!!

92

## items()
- key, value를 (key,value) 형태로 출력 -> 튜플 형태로 출력
- key,value 둘 다 쓰고 싶을 때 사용
- dict_items 객체
- list(), tuple() 형변환 함수에 넣어주면 데이터 타입 변경돼서 사용 가능

In [99]:
data.items()

dict_items([('info', [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')})])

In [98]:
list(data.items())

[('info',
  [{'name': 'Alice', 'scores': (95, 88, 92)},
   {'name': 'Bob', 'scores': (78, 85, 89)}]),
 ('extra', {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')})]

In [100]:
list(data.items())[0][1][0]['scores'][2]

92

In [102]:
for k,v in data.items():
    print("key: ", k)
    print("value: ", v)

key:  info
value:  [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]
key:  extra
value:  {'hobbies': ['leading', 'coding'], 'location': ('Seoul', 'Busan')}