In [1]:
subject = "국어"
print("이 수업의 이름은 %s 입니다." % subject)

이 수업의 이름은 국어 입니다.

In [2]:
subjects = ["국어","수학","사회","영어"]
for s in subjects:
    print("이 수업의 이름은 %s 입니다." % s)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

In [3]:
year = 2025
print("올해는 %d년 입니다." % year)

올해는 2025년 입니다.

In [4]:
temp = 36.5
print("사람의 정상 체온은 약 %f도 입니다." % temp)

사람의 정상 체온은 약 36.500000도 입니다.

In [5]:
# %.1f로 소수점 1자리
#temp = 36.5를 소수점 1자리로 표시해 출력
print("사람의 정상 체온은 약 %.1f도 입니다." % temp)

사람의 정상 체온은 약 36.5도 입니다.

In [7]:
# %길이s로 자리수 맞추기
# 문자열 "01"을 3칸 폭으로 출력
print("%3s" % "01")
"%3s" % "01"

 01

' 01'

In [8]:
# %10d로 숫자 폭 맞추기
# 아래 두 숫자를 동일한 폭(10칸)으로 맞춰 출력
print("가격은 %10d 입니다." % 150000)
print("가격은 %10d 입니다." % 15000)

가격은     150000 입니다.
가격은      15000 입니다.

In [10]:
# 여러 값 동시에 넣기
# 오늘은 2025년 3월 17일 입니다. (월은 폭 2, 연도는 폭 4)
y, m, d = (2025, 3, 17)
print("오늘은 %4d년 %2d월 %2d일 입니다." % (y, m, d))

오늘은 2025년  3월 17일 입니다.

In [12]:
# zip + %s/%d 출력
# 아래 리스트를 zip으로 묶어 한 줄씩 출력
company = ["삼성전자","LG전자","현대차","대한항공","하나투어"]
stock = [71800,121000,195000,31900,86600]

for com, st in zip(company, stock):
    print("%s의 주가는 %d 입니다." % (com, st))

삼성전자의 주가는 71800 입니다.
LG전자의 주가는 121000 입니다.
현대차의 주가는 195000 입니다.
대한항공의 주가는 31900 입니다.
하나투어의 주가는 86600 입니다.