In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print("C:\Windows")

C:\Windows

In [4]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#줄바꿈, 탭

안녕하세요.
만나서		반갑습니다.

In [5]:
print ("오늘은", "일요일")

오늘은 일요일

In [6]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [9]:
print("first", end='')
print("second")

firstsecond

In [10]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [11]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [13]:
a = 128
print (type(a))
type(a)

<class 'int'>

int

In [14]:
a = "132"
print (type(a))

<class 'str'>

In [16]:
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [17]:
num = 100
print(str(num), type(int(num)))

100 <class 'int'>

In [18]:
print(float('15.79'),type(float('15.79')))

15.79 <class 'float'>

In [19]:
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
a=int(year)
print(a, a-1, a-2)

2020 2019 2018

In [20]:
48584*36

1749024