# 서식지정자, format 메서드, f-string
- 문자열로만 입력해야 하는 상황에서 같은 위치의 문자를 여러 번 바꿔야 할 때 사용
- 문자의 자릿수 맞춤, 위치 정렬에 사용

# 1. 서식지정자 %d, %s, %f

## 1) %s : 문자를 입력할 때 (string)

In [7]:
print("이 수업의 이름은 %s 입니다." % "국어")

이 수업의 이름은 국어 입니다.

In [11]:
for name in ['국어','수학','사회','영어']:
    print("수업 이름은 %s 입니다" % name)

수업 이름은 국어 입니다
수업 이름은 수학 입니다
수업 이름은 사회 입니다
수업 이름은 영어 입니다

## 2) %d : 정수를 입력할 때 (string)

In [13]:
print("올해는 %d년입니다." % 2026)

올해는 2026년입니다.

In [14]:
print("올해는 %d년입니다." % 2026.5)

올해는 2026년입니다.

## 3) %f : 실수 입력 -> 기본 소숫점 6자리로 표시

In [28]:
print("사람의 정상체온은 약 %f도 이다." %36)

사람의 정상체온은 약 36.000000도 이다.

- 실수를 입력할 때 소숫점 자리 수를 정하고 싶을 때 -> %.자릿수f

In [38]:
print("사람의 정상체온은 약 %.3f도 이다." %36)

사람의 정상체온은 약 36.000도 이다.

## 4) %길이s : 서식지정자로 문자열 길이, 정렬

In [16]:
print("%3s" % "01")

 01

In [17]:
"%3s" % "01" #앞에 3자리 확보하고 01 쓰기

' 01'

In [18]:
"%5s" % "01" #앞에 5자리 확보하고 01 쓰기

'   01'

In [19]:
print(150000)

150000

In [21]:
print("가격은 %10d 입니다" %150000)
print("가격은 %10d 입니다" %1500)

가격은     150000 입니다
가격은       1500 입니다

## 5) 여러 항목 동시에 놓기

In [25]:
print("오늘은 %4d년 %2d월 %2d일 입니다" % (2026,1,8))

오늘은 2026년  1월  8일 입니다

In [26]:
print("오늘은 %4d년 %02d월 %02d일 입니다" % (2026,1,8))

오늘은 2026년 01월 08일 입니다

In [35]:
company=['삼성', '엘지','현대']
stock=[30,40,50]

In [36]:
for com, st in zip(company, stock):
    print("%s의 주가는 %d 입니다" % (com,st))

삼성의 주가는 30 입니다
엘지의 주가는 40 입니다
현대의 주가는 50 입니다

## 2. format 메서드 사용하기
- "문자열 {인덱스번호} 문자열 끝".format(값)

In [39]:
print("{}의 주가는 {}입니다.".format('삼성',30))

삼성의 주가는 30입니다.

In [40]:
print("{0}의 주가는 {0}입니다.".format('삼성'))

삼성의 주가는 삼성입니다.

In [41]:
print("{0}의 주가는 {1}입니다.".format('삼성',30))

삼성의 주가는 30입니다.

In [42]:
for com, st in zip(company, stock):
    print("{}의 주가는 {}입니다.".format(com, st))

삼성의 주가는 30입니다.
엘지의 주가는 40입니다.
현대의 주가는 50입니다.

## f-string으로 값 넣기

In [43]:
print(company)
print(stock)

['삼성', '엘지', '현대']
[30, 40, 50]

In [45]:
print(f"{company[0]}의 주가는 {stock[0]}입니다") #변수 직접 넣어서 출력

삼성의 주가는 30입니다

In [46]:
for com, st in zip(company, stock):
    print(f"{com}의 주가는 {st}입니다.") #format보다 f-string이 더 간단함

삼성의 주가는 30입니다.
엘지의 주가는 40입니다.
현대의 주가는 50입니다.

## 3. f-string으로 문자열 정렬, 자릿수 지정해서 출력하기

In [48]:
year=2026
month=1
day=8
print(f"오늘은 {year}년 {month}월 {day}일 입니다")

오늘은 2026년 1월 8일 입니다

In [50]:
# 한 자릿수를 두 자릿수로 만들 때 -> print("오늘은 %4d년 %02d월 %02d일 입니다" % (2026,1,8))
print(f"오늘은 {year}년 {month:02d}월 {day:02d}일 입니다")

오늘은 2026년 01월 08일 입니다

In [52]:
url = "https://finance.naver.com/sise/sise_trans_style.naver?sosok="

In [54]:
for i in range(1,11):
    print(f"{url}{i:02d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10