# 리스트 표현식
- 리스트 안에 for 반복문과 if else 조건문을 한 번에 적어서 리스트를 만드는 방법
- 여러 줄의 코드를 한 줄로 줄일 수 있다
- for문과 if else문을 사용해서 처리할 때보다 속도가 빠르다.
``` python
[실행할 명령 for 변수 in 반복 가능한 자료]
```

In [1]:
nums=[]
for i in range(1,11):
    nums.append(i)
nums #리스트 만들어짐

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
nums=[]
for i in range(1,11):
    nums.append(i)
    print(nums)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- 리스트 표현식으로 1-10까지 숫자로된 리스트 만들기

In [3]:
nums2=[i for i in range(1,11)]
nums2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 리스트 표현식과 일반 반복문의 속도 차이

In [4]:
%%time
#일반 반복문으로 2억 개 숫자 더한 리스트 만들기
a=[]
for i in range(1,200000000):
    a.append(i+5)
print(a[:10])

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
CPU times: total: 1min 10s
Wall time: 1min 11s

In [5]:
%%time
#리스트 표현식으로 2억 개 숫자 더한 리스트 만들기 -> 리스트 표현삭아 더 빠름
b=[i+5 for i in range(1,200000000)]
print(b[:10])

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
CPU times: total: 42.9 s
Wall time: 44.5 s

In [6]:
# !pip install numpy

In [7]:
import numpy as np

In [8]:
%%time
c=np.arange(1,200000000)
c=c+5
print(c[:10])

[ 6  7  8  9 10 11 12 13 14 15]
CPU times: total: 2.27 s
Wall time: 2.33 s

- 1-10까지 숫자 중 짝수만 넣어서 리스트 만들기

In [9]:
even=[]
for i in range(1,11):
    if i%2==0:
        even.append(i)
even

[2, 4, 6, 8, 10]

In [10]:
even2=[i for i in range(1,11) if i%2==0]
even2
#참일 때 실행되는 건 for문 앞으로 / if 조건은 for문 뒤로
#even.append(i) 필요없어짐 i만 앞에 써주기

[2, 4, 6, 8, 10]

- 1-10까지 숫자 중 홀수면 홀수입나다. 짝수면 짝수입니다를 찍는 프로그램

In [11]:
for i in range(1,11):
    if i%2==0:
        print(f"{i}는 짝수")
    else:
        print(f"{i}는 홀수")

1는 홀수
2는 짝수
3는 홀수
4는 짝수
5는 홀수
6는 짝수
7는 홀수
8는 짝수
9는 홀수
10는 짝수

In [12]:
result=[]
for i in range(1,11):
    if i%2==0:
        print(f"{i}는 짝수")
        result.append(f"{i}는 짝수")
    else:
        print(f"{i}는 홀수")
        result.append(f"{i}는 홀수")
result

1는 홀수
2는 짝수
3는 홀수
4는 짝수
5는 홀수
6는 짝수
7는 홀수
8는 짝수
9는 홀수
10는 짝수

['1는 홀수',
 '2는 짝수',
 '3는 홀수',
 '4는 짝수',
 '5는 홀수',
 '6는 짝수',
 '7는 홀수',
 '8는 짝수',
 '9는 홀수',
 '10는 짝수']

In [13]:
#리스트 표현식으로 만들기
result=[f"{i}는 짝수" for i in range(1,11) if i%2==0 else print(f"{i}는 홀수")]
result

SyntaxError: invalid syntax (2504732908.py, line 2)

In [ ]:
#else가 없는 경우 / 있는 경우 -> 리스트 표현식 쓰는 방법 다름!
#else가 있는 경우 : if else 를 먼저 써줌
result = [f"{i}는 짝수" if i%2==0 else f"{i}는 홀수" for i in range(1,11)]
result

# 다중 반복문을 사용한 리스트 표현식
```
#반복문이 2개일 때 -> 이중 반복문
[실행할 코드 반복문1 반복문2]
#반복문이 3개일 때 -> 삼중 반복문
[실행할 코드 반복문1 반복문2 반복문3]
```

- 반복문이 3개 이상 중첩되거나 if else 조건이 복잡하게 붙을 경우 일반 문법 사용
- 코드 해석이 너무 어려워짐

- 2중 반복문으로 구구단 출력하기 -> 일반 반복문 / 리스트 표현식 2가지로 쓰기

In [ ]:
gu=[]
for i in range(2,10):
    for j in range(1,10):
        gu.append(f"{i}x{j}={i*j}")
gu

In [ ]:
# 반복문 2개이므로 -> 이중반복문 : 최종 출력 - for문1 - for문2
gu2=[f"{i}x{j}={i*j}" for i in range(2,10) for j in range(1,10)]
gu2

- 3중 반복문으로 시계 만들기

In [ ]:
clock =[]
for si in range(0,24):
    for bun in range(0,60):
        for cho in range(0,60):
            clock.append(f"{si:02d}:{bun:02d}:{cho:02d}")
clock[:10]

In [ ]:
#리스트 표현식으로 3중 for문 시계 만들기
clock2 =[f"{si:02d}:{bun:02d}:{cho:02d}" for si in range(0,24) for bun in range(0,60) for cho in range(0,60)]

clock2[:10]

# 반복문 + if문의 리스트 표현식
- 필터링
```python
for ... if 조건 (for문이 앞에, if 조건문이 뒤에, else 없음)
```

- if else + for문의 경우
```python
참일 때 if 조건 else 거짓일 때 for ... (조건 표현식이 앞, for문은 뒤에, if else 함께)
```

## 1) 조건을 이용해 필터링하기 (if만 쓸 때)

- 1-10 중 짝수만 모으기

In [ ]:
# 일반 for문 + if문
evens=[]
for num in range(1,11):
    if num%2==0:
        evens.append(num)
evens

In [ ]:
#리스트 표현식, if문으로 필터링 -> 이 형태 많이 씀!!
evens2=[num for num in range(1,11) if num%2==0]
#저장될 값-> for앞으로, if 조건 -> for 뒤
evens2

# 2) 조건에 따라서 값을 바꾸기 (if~else)

- 1-10 중 짝수면 짝수, 홀수면 홀수를 출력

In [ ]:
# for + if -> 이 형태 많이 씀!
labels=[]
for num in range(1,11):
    if num %2==0:
        labels.append("짝수")
    else:
        labels.append("홀수")
labels

In [ ]:
#리스트 표현식
# 조건표현식 + for문 형식 -> 이 형태 많이 씀! 중요!!
labels2=["짝수" if num %2==0 else "홀수" for num in range(1,11)]
labels2

In [ ]:
labels2[3:6]

# 제네레이터 표현식
- 리스트 표현식과 문법 동일
- [ ]가 아닌 ( )로 만듦
- 1회용임 - 만들고 나서 반복문으로 내용 꺼내면 내용 사라짐
- 오직 순차 접근만 가능, 인덱싱, 슬라이싱 불가
- 데이터가 너무 크거나, 한 번만 쓸 데이터인 경우 사용

In [ ]:
# 1-10까지 숫자 중 짝수인 것만 모은 리스트를 제네레이터로
evens_g=[]
for num in range(1,11):
    if num%2==0:
        evens_g.append(num)
evens_g

In [ ]:
# 제네레이터 형식 -> ()사용
evens_g=(num for num in range(1,11) if num%2==0)
evens_g

- 제네레이터로 만든 결과는 next() 혹은 for 반복문으로 내용을 차례대로 꺼낼 수 있음
- 끝까지 꺼내고 나면 사라짐

In [ ]:
# next() : 제네레이터에서 자료를 하나씩 꺼낼 때 사용
next(evens_g)

In [ ]:
next(evens_g)

In [ ]:
next(evens_g)

In [ ]:
for num in evens_g:
    print(num) #일회용이라 2,4,6은 사라지고 남은 8,10만 출력

# 리스트와 제네레이터 크기 비교

In [ ]:
!pip install pympler

In [ ]:
import sys
from pympler import asizeof
import psutil, os

#메모리 사용량 확인 함수
def show_memory(msg):
    process = psutil.Process(os.getpid())
    print(f"{msg}: {process.memory_info().rss / 1024**2:.2f} MB")

#비교 대상 생성
list_var = [x for x in range(1, 1_000_000)]   # 리스트 내포
gen_var  = (x for x in range(1, 1_000_000))   # 제너레이터 표현식

print("==== sys.getsizeof() 결과 ====")
print("리스트:", sys.getsizeof(list_var))
print("제너레이터:", sys.getsizeof(gen_var))

print("\n==== asizeof.asizeof() 결과 (내부 요소 포함) ====")
print("리스트:", asizeof.asizeof(list_var))
print("제너레이터:", asizeof.asizeof(gen_var))

print("\n==== 프로세스 전체 메모리 사용량 비교 ====")
show_memory("리스트 생성 후")
show_memory("제너레이터 생성 후")

# 파일 읽기 쓰기 open(), with open()

## 1) 파일에 문자열을 쓰거나 읽을 때 open() 함수 사용
```python
파일 저장 변수명 = open("파일 경로 및 이름", 모드(w:쓰기,r:읽기,a:추가))
변수명.write("저장할 내용")
변수명.close()
close()를 안 하면 파일 계속 열려있음
```

- 파일 만들고 내용 쓰기

In [ ]:
file=open("./data/test.txt", "w")
file.write("\n파일 만들기 연습")
file.close()

- 파일에서 읽어오기
```python
파일 열기 변수1=open("파일 경로 및 이름","r") #파일 자체를 열기
변수2=변수1.read() #파일 읽어오기
변수1.close()
```

In [ ]:
file1=open("./data/test.txt", "r")
file1_data=file1.read()
file1.close()
print(file1_data)

- 이미 있는 파일에 내용 추가하기

In [ ]:
file=open("./data/test.txt", "a") #a: 파일에 내용 추가
file.write("\n파일에 내용 추가하기 연습")
file.close()

In [ ]:
file1=open("./data/test.txt", "r")#r: 파일 내용 읽어오기
file1_data=file1.read()
file1.close()
print(file1_data)

# with open
- with open은 close()를 하지 않아도 자동으로 close() 처리를 해줌
- with open 쓸 때는 파일 명을 뒤에 쓴다 (as 파일명)

In [ ]:
with open("./data/test2.txt", 'w') as file3:
    file3.write("with open을 사용하면 파일을 close 없이도 자동으로 닫아줘서 편리하다")

In [ ]:
with open("./data/test2.txt", 'a') as file3:
    file3.write("\nwith open을 사용하면 파일을 close 없이도 자동으로 닫아줘서 편리하다2")

In [ ]:
with open("./data/test2.txt", 'r') as file3:
    file3_data=file3.read() #.read() -> 문자열
print(file3_data)

In [ ]:
print(type(file3_data)) #문자열

- 1줄씩 읽어올 때 readlines()

In [ ]:
with open("./data/test2.txt", 'r') as file3:
    file3_data=file3.readlines() #.readlines()-> 리스트로 읽어옴
print(file3_data, type(file3_data))

# encoding에 따른 읽기 오류
- 운영체제 (windows. linux, macOS)에 따라 한글/영문 윈도우에 따라서 인코딩 되는 포맷이 달라짐
- 인코딩에 따른 오류 발생 가능
- web 표준은 utf-8이므로 인코딩은 utf-8로 하는 것이 좋다.
- windows의 경우 기본 인코딩이 cp949이므로 주의

In [ ]:
with open("./data/test_utf-8.txt", 'w', encoding='utf-8') as file5:
    file5.write("이것은 with open으로 만든 utf-8 인코딩 파일입니다")

In [ ]:
with open("./data/test_utf-8.txt", 'r', encoding='utf-8') as file6: #utf-8을 써서 불러와야 함! 에러 안 남
    file6_data=file6.read()
    print(file6_data)

# json 파일 읽어와서 내용 정리하기 -> 중요함!! (앞으로 3일동안 할 거 임)
- 자료형 함수 숙지 (리스트, 튜플, 딕셔너리)
- 반복문, 조건문 숙지

In [ ]:
with open("./data/서울특별시_관광지입장정보_2011_2016.json",'r', encoding='utf-8') as file7:
    trip_info=file7.read()
print(trip_info[:100])

In [ ]:
print(type(trip_info)) #문자열임

In [ ]:
with open("./data/서울특별시_관광지입장정보_2011_2016.json",'r', encoding='utf-8') as file7:
    trip_info=file7.read()
print(trip_info) #리스트 아니고 문자열 형태로 읽어옴

In [ ]:
trip_info[0]

# 문자열을 json 형태로 변환

In [ ]:
import json

In [ ]:
data=json.loads(trip_info)
print(data, type(data))

In [ ]:
print(data[0], type(data[0])) #data[0]는 딕셔너리 형태임

In [ ]:
list(data[0].keys())

- data 변수 안에는 리스트 안 쪽에 67개의 딕셔너리 세트가 저장되어 있음
- 각 딕셔너리에는 ['ForNum', 'NatNum', 'addrCd', 'gungu', 'resNm', 'rnum', 'sido', 'yyyymm'] 키로 관광지 입장객 정보가 저장되어 있음.
- 67개의 딕셔너리에서 하나의 key 당 67개의 value를 리스트 형태로 저장
- pandas를 이용해서 dataframe(sql의 table/exel의 sheet)으로 변환
- {'ForNum':[ ], 'NatNum':[ ],}

In [ ]:
print(len(data)) #리스트 안에 딕셔너리

In [ ]:
data[0] #0번째 딕셔너리

In [ ]:
data[0]['ForNum']

In [ ]:
data[2]['ForNum']

In [ ]:
print('ForNum', data[0]['ForNum'])
print('NatNum', data[0]['NatNum'])
print('addrCd', data[0]['addrCd'])
print('gungu', data[0]['gungu'])
print('resNm', data[0]['resNm'])
print('rnum', data[0]['rnum'])
print('sido', data[0]['sido'])
print('yyyymm', data[0]['yyyymm'])

In [ ]:
data[2]['ForNum']

In [ ]:
for item in data[:2]: #item 하나가 딕셔너리임
    #print(item, type(item))
    #print(item['ForNum'])
    print('ForNum', item['ForNum'])
    print('NatNum', item['NatNum'])
    print('addrCd', item['addrCd'])
    print('gungu', item['gungu'])
    print('resNm', item['resNm'])
    print('rnum', item['rnum'])
    print('sido', item['sido'])
    print('yyyymm', item['yyyymm'])
    print()
    
    #67개의 밸류를 리스트로 모음

In [ ]:
ForNum=[]
NatNum=[]
addrCd=[]
gungu=[]
resNm=[]
rnum=[]
sido=[]
yyyymm=[]

for item in data: #item 하나가 딕셔너리임
    ForNum.append(item['ForNum'])
    NatNum.append(item['NatNum'])
    addrCd.append(item['addrCd'])
    gungu.append(item['gungu'])
    resNm.append(item['resNm'])
    rnum.append(item['rnum'])
    sido.append(item['sido'])
    yyyymm.append(item['yyyymm'])

print('ForNum:',ForNum )
print('NatNum:',NatNum)
print('addrCd:',addrCd)
print('gungu:',gungu)
print('resNm:',resNm)
print('rnum:',rnum)
print('sido:',sido)
print('yyyymm:',yyyymm)

    
    #67개의 밸류를 리스트로 모음

In [ ]:
ForNum=[]
NatNum=[]
addrCd=[]
gungu=[]
resNm=[]
rnum=[]
sido=[]
yyyymm=[]

for item in data: #item 하나가 딕셔너리임
    ForNum.append(item['ForNum'])
    NatNum.append(item['NatNum'])
    addrCd.append(item['addrCd'])
    gungu.append(item['gungu'])
    resNm.append(item['resNm'])
    rnum.append(item['rnum'])
    sido.append(item['sido'])
    yyyymm.append(item['yyyymm'])

print('ForNum:',ForNum )
print('NatNum:',NatNum)
print('addrCd:',addrCd)
print('gungu:',gungu)
print('resNm:',resNm)
print('rnum:',rnum)
print('sido:',sido)
print('yyyymm:',yyyymm)
    
#67개의 밸류를 리스트로 모음

#1개의 키에 67개의 데이터가 있는 리스트를 묶어서 dict로 만들기

result=dict(ForNum=ForNum, NatNum=NatNum,addrCd=addrCd, gungu=gungu,resNm=resNm,
            rnum=rnum,sido=sido, yyyymm=yyyymm)

result

# panda dataframe으로 변환하기

In [14]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\a\miniforge3\envs\fintech\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\a\miniforge3\envs\fintech\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\a\miniforge3\envs\fintech\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\a\miniforge3\envs\fintech\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\a\miniforge3\envs\fintech\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\a\miniforge3\envs\fintech\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(result) #엑셀 형태로 나옴
df

In [ ]:
df.to_csv("./data/서울특별시_관광지입장객정보.csv",index=False, encoding='utf-8-sig')

## 정리 - 기초적인 방법 (수작업, 복잡함)

맨 처음에는 인터넷에서 문자열 형태로 들어옴(딕셔너리처럼 생김) -> json.loads() : 딕셔너리로 바꿔줌(파이썬에서 사용 가능) -> 반복문 이용해서 하나씩 꺼낸 후 리스트에 추가해서 리스트 만들어 줌 -> dict로 다시 묶어줌 -> 엑셀 형태로 정리하기 위해 데이터 정리하는 작업 : 키 하나당 밸류를 리스트 형태로 모아줌 -> 엑셀로 변환

# key와 value를 수작업 없이 사용해서 정리하기 - 더 간단!
- dict에서 key는 반복문에 넣으면 key가 나옴
- keys(), values(), items()

In [ ]:
data

In [ ]:
for key in data[0]:
    print(key) #키 출력됨

In [ ]:
for key in data[0]:
    print(key)
    for item in data: #item이 딕셔너리임
        print(item[key])
        
#ForNum 키에 있는 밸류들이 쭉 나오고-> NatNum키에 있는 밸류들이 쭉 나오고->... 계속 이어짐

In [ ]:
#리스트 만들기
for key in data[0]: #-> 키를 뽑기 위해 예시로 data[0]을 불러온 거임
    #data[1],data[2]..해도 상관없음 딕셔너리 별로 키는 같음 
    print(key)
    temp=[]
    for item in data:
        temp.append(item[key])
    print(f"{key}:", temp)
    
#각각 키(ForNum, NatNum, addrCd..) 별로 밸류들이 리스트로 만들어짐

In [ ]:
#딕셔너리
result2={} #빈 딕셔너리 만들어줌
for key in data[0]: #data[0] 이라는 딕셔너리에 있는 키 종류 별로 개수만큼 아래 실행됨
    temp=[] 
    for item in data:
        temp.append(item[key]) #각각 키(ForNum, NatNum, addrCd..) 별로 밸류들이 리스트로 만들어짐
        
    result2[key]=temp #딕셔너리[키]=밸류 형태 -> 딕셔너리 만들어짐 (위의 for문 끝나고 여기 실행됨)
result2

In [ ]:
# 최종 딕셔너리
#딕셔너리
result2={} #빈 딕셔너리 만들어줌
for key in data[0]:
    temp=[]
    for item in data:
        temp.append(item[key]) #각각 키(ForNum, NatNum, addrCd..) 별로 밸류들이 리스트로 만들어짐
        
    result2[key]=temp #딕셔너리[키]=밸류 형태 -> 딕셔너리 만들어짐
result2

# 딕셔너리 함수를 이용해 만들기
- setdefault

In [ ]:
data #리스트 안에 딕셔너리 있음

In [ ]:
for item in data[:2]: #2개만 꺼냄
    #print(item)
    for key, value in item.items():
        print(key, value)

In [ ]:
result3={}

for i in data[:2]:
    #print(item)
    for key, value in i.items():
        #print(key, value)
        result3.setdefault(key,[]) #키 별로 빈 리스트가 값으로 생김
result3

In [ ]:
result3={} #result3는 키 밸류 둘다 없는 빈 딕셔너리

for i in data[:2]:
    for key, value in i.items():
        result3.setdefault(key,[]).append(value) #빈 리스트에 밸류 값 하나씩 추가하기
        #result3은 빈 딕셔너리임!
        #for문에서 key와 value를 하나씩 꺼내고,
        #setdefault가 result3에 그 key가 처음 등장할 때만 빈 리스트를 밸류로 생성한다
result3

- setdefault

item에서 key, value 꺼냄
→ result3에 key 있는지 확인
→ 없으면 key: [] 생성
→ 그 리스트에 value 추가

In [181]:
#딕셔너리 함수(setdefault) 이용 최종!! 중요!!!

result3={}
for item in data:
    for key, value in item.items():
        result3.setdefault(key,[]).append(value)
#print(result3)

df3=pd.DataFrame(result3) #엑셀 형태 (데이터프레임 형태로 바로 변환 가능!)
df3

    ForNum  NatNum  addrCd gungu      resNm  rnum   sido  yyyymm
0    44722   75991    1111   종로구        창덕궁     1  서울특별시  201112
1        0   11017    1111   종로구        운현궁     2  서울특별시  201112
2   132399  237330    1111   종로구        경복궁     3  서울특별시  201112
3     3133   21267    1111   종로구        창경궁     4  서울특별시  201112
4    18226   24223    1111   종로구         종묘     5  서울특별시  201112
..     ...     ...     ...   ...        ...   ...    ...     ...
62    5588   44232    1141  서대문구  서대문형무소역사관     8  서울특별시  201512
63       0   22587    1141  서대문구  서대문자연사박물관     9  서울특별시  201512
64   29520    8822    1144   마포구    트릭아이미술관    10  서울특별시  201512
65       3    1647    1165   서초구      헌릉ㆍ인릉    11  서울특별시  201512
66     492   14454    1168   강남구      선릉·정릉    12  서울특별시  201512

[67 rows x 8 columns]

## collections.defaultdict를 사용해서 더 빠르게 -> 참고만 하기

In [182]:
from collections import defaultdict

In [184]:
dic_resultt=defaultdict(list)
dic_result

defaultdict(list, {})

In [187]:
for item in data[:2]:
    #print(item)
    for key,value in item.items():
        dic_result[key].append(value)
dic_result

defaultdict(list,
            {'ForNum': [44722, 0, 44722, 0, 44722, 0],
             'NatNum': [75991, 11017, 75991, 11017, 75991, 11017],
             'addrCd': [1111, 1111, 1111, 1111, 1111, 1111],
             'gungu': ['종로구', '종로구', '종로구', '종로구', '종로구', '종로구'],
             'resNm': ['창덕궁', '운현궁', '창덕궁', '운현궁', '창덕궁', '운현궁'],
             'rnum': [1, 2, 1, 2, 1, 2],
             'sido': ['서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시'],
             'yyyymm': ['201112',
              '201112',
              '201112',
              '201112',
              '201112',
              '201112']})

In [188]:
result4=dict(dic_result)
result4

{'ForNum': [44722, 0, 44722, 0, 44722, 0],
 'NatNum': [75991, 11017, 75991, 11017, 75991, 11017],
 'addrCd': [1111, 1111, 1111, 1111, 1111, 1111],
 'gungu': ['종로구', '종로구', '종로구', '종로구', '종로구', '종로구'],
 'resNm': ['창덕궁', '운현궁', '창덕궁', '운현궁', '창덕궁', '운현궁'],
 'rnum': [1, 2, 1, 2, 1, 2],
 'sido': ['서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시', '서울특별시'],
 'yyyymm': ['201112', '201112', '201112', '201112', '201112', '201112']}