In [26]:
empty_dict={}
empty_dict

{}

In [22]:
person = {"name": "Alice", "age": 25, "city": "Seoul"}
person["name"]

'Alice'

In [27]:
person["age"]

25

In [24]:
person["job"]=["Engineer"]
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': ['Engineer']}

In [28]:
person["city"]=["Busan"]
person

{'name': 'Alice', 'age': 25, 'city': ['Busan'], 'job': ['Engineer']}

In [20]:
del person['age']
person

KeyError: 'age'

In [29]:
person.keys()

dict_keys(['name', 'age', 'city', 'job'])

In [14]:
person.values()

dict_values(['Alice', 'Seoul'])

In [30]:
#딕셔너리 person의 모든 키-값 쌍을 출력
person.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', ['Busan']), ('job', ['Engineer'])])

In [31]:
#"email" 키가 딕셔너리 person에 존재하는지 확인
"email" in person

False

In [32]:
del person['job']
person

{'name': 'Alice', 'age': 25, 'city': ['Busan']}

In [33]:
student={"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}}
student

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

In [34]:
student['grades']["science"]

90

In [36]:
# student의 "grades"에 "english": 95를 추가하고 출력
student['grades'].update(english=95)
student

{'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'history': 80, 'english': 95}}

In [37]:
#student의 "math" 점수를 88로 변경하고 출력
student['grades'].update(math=88)
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'history': 80, 'english': 95}}

In [38]:
#student에서 "history" 점수를 삭제하고 출력
del student['grades']['history']
student

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}}

In [40]:
#딕셔너리 student에서 setdefault를 이용하여 "total"이란 키를 만들고 math, science, english의 합계를 입력하세요.
#단, 합계를 구할 때 값을 수동입력 하지 말고 딕셔너리에서 추출해서 더하도록 하세요.
#.setdefault : 자료 추가 함수
student.setdefault('total', student['grades']['math'] 
                   + student['grades']['science']
                   + student['grades']['english'])

273

In [42]:
#딕셔너리 student2에서 update를 이용하여 'english' 는 100, 'history'는 80를 입력
student2={'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}
student2['grades'].update(english=100, history=80)
student2

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}

In [43]:
# dict() 함수를 사용하여 딕셔너리 생성
# = 사용해서 할당하는 방식
#중첩 dict 이용
courses = dict(programming= dict(python=50, java=30, Cpp=20),
              design=dict(Photoshop=25, Illustrator=15))
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

In [44]:
courses['programming']['python']

50

In [45]:
courses['programming']['Cpp'] = 25
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

In [46]:
courses['design']

{'Photoshop': 25, 'Illustrator': 15}

In [47]:
del courses['design']
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25}}

In [48]:
"programming" in courses

True

In [51]:
# 딕셔너리 courses에서 "design" 항목을 출력하고
#"design" 이 없다면 design key 없음 이라고 출력
courses.get('design', "design key 없음")

'design key 없음'