# 07_sqlalchemy_pymysql로 수집한 데이터 DB에 저장하기_환율정보

In [1]:
# !pip install sqlalchemy pymysql

In [2]:
# !pip install cryptography

In [3]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql
pymysql.install_as_MySQLdb()
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
dbid = os.getenv("dbid")
dbpw = os.getenv("dbpw")
host = os.getenv("host")
port = os.getenv("port")

In [5]:
data = pd.read_csv("./data/상장기업정보.csv")
data

,종류,종목코드,회사명,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,코스닥,0115H0,삼성스팩13호,금융 지원 서비스업,기업인수합병,2026-01-21,12월,성상환,NaN,서울특별시
1,코스닥,0004V0,엔비알모션,기타 금속 가공제품 제조업,강구 및 테이퍼롤러,2026-01-14,12월,문두성,NaN,경상남도
2,코스닥,493330,지에프아이,일반 목적용 기계 제조업,"2차전지소화안전제품, 일반소화안전제품",2026-01-14,12월,이상섭,NaN,경기도
3,코스닥,012210,삼미금속,기타 금속 가공제품 제조업,"자동차부품, 중장비부품, 선박부품, 방산부품 등",2025-12-29,12월,이남영,http://www.sammimetal.com,경상남도
4,코스닥,490470,세미파이브,"건축기술, 엔지니어링 및 관련 기술 서비스업",반도체 설계 서비스,2025-12-29,12월,조명현,http://semifive.com,경기도
...,...,...,...,...,...,...,...,...,...,...
2768,유가증권,000100,유한양행,의약품 제조업,"의약품(삐콤씨, 안티푸라민, 렉라자, 로수바미브, 코푸시럽 등), 생활용품(유한락스...",1962-11-01,12월,대표이..,http://www.yuhan.co.kr,서울특별시
2769,유가증권,000120,CJ대한통운,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,신영수..,http://www.cjlogistics.com,서울특별시
2770,유가증권,000050,경방,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준,..",http://www.kyungbang.co.kr,서울특별시
2771,유가증권,000700,유수홀딩스,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2772,유가증권,003480,한진중공업홀딩스,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,조원국,http://www.hhic-holdings.com,경기도

In [6]:
engine = create_engine(f"mysql+pymysql://{dbid}:{dbpw}@{host}:{port}")
conn = engine.connect()

In [7]:
result = conn.execute(text("show databases;"))
for row in result:
    print(row)

('db_model_practice',)
('information_schema',)
('mydb',)
('mysql',)
('naver_db',)
('performance_schema',)
('sakila',)
('sampledb',)
('sampledb2',)
('sampledb3',)
('stock_info',)
('sys',)
('world',)

In [8]:
conn.execute(text("use sakila;"))

In [9]:
result = conn.execute(text("show tables;"))
for row in result:
    print(row)

('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

In [10]:
result = conn.execute(text("select * from film limit 10;"))
for row in result:
    print(row)

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', 'Deleted Scenes,Behind the Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', 'Commentaries,Behind the Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', 'Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(6, 'AGENT TRUMAN', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 2006, 1, None, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG', 'Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(7, 'AIRPLANE SIERRA', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', 2006, 1, None, 6, Decimal('4.99'), 62, Decimal('28.99'), 'PG-13', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(8, 'AIRPORT POLLOCK', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, None, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', 'Trailers', datetime.datetime(2006, 2, 15, 5, 3, 42))
(9, 'ALABAMA DEVIL', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat', 2006, 1, None, 3, Decimal('2.99'), 114, Decimal('21.99'), 'PG-13', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))
(10, 'ALADDIN CALENDAR', 'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China', 2006, 1, None, 6, Decimal('4.99'), 63, Decimal('24.99'), 'NC-17', 'Trailers,Deleted Scenes', datetime.datetime(2006, 2, 15, 5, 3, 42))

In [11]:
conn.close()

# DB 선택해서 접속하기

In [12]:
engine = create_engine(f"mysql+pymysql://{dbid}:{dbpw}@{host}:{port}/stock_info")
conn = engine.connect()

# pandas dataframe DB에 저장하기
* to_sql("테이블명", con=conn, index=False, if_exists="append")

In [13]:
data.to_sql("stock_company_info_2026", con=conn, index=False, if_exists="replace")

2773

# DB에서 테이블을 pandas dataframe으로 불러오기
* read_sql("테이블명", con=conn)

In [14]:
data2 = pd.read_sql("stock_company_info_2026", con=conn)
data2

,종류,종목코드,회사명,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,코스닥,0115H0,삼성스팩13호,금융 지원 서비스업,기업인수합병,2026-01-21,12월,성상환,None,서울특별시
1,코스닥,0004V0,엔비알모션,기타 금속 가공제품 제조업,강구 및 테이퍼롤러,2026-01-14,12월,문두성,None,경상남도
2,코스닥,493330,지에프아이,일반 목적용 기계 제조업,"2차전지소화안전제품, 일반소화안전제품",2026-01-14,12월,이상섭,None,경기도
3,코스닥,012210,삼미금속,기타 금속 가공제품 제조업,"자동차부품, 중장비부품, 선박부품, 방산부품 등",2025-12-29,12월,이남영,http://www.sammimetal.com,경상남도
4,코스닥,490470,세미파이브,"건축기술, 엔지니어링 및 관련 기술 서비스업",반도체 설계 서비스,2025-12-29,12월,조명현,http://semifive.com,경기도
...,...,...,...,...,...,...,...,...,...,...
2768,유가증권,000100,유한양행,의약품 제조업,"의약품(삐콤씨, 안티푸라민, 렉라자, 로수바미브, 코푸시럽 등), 생활용품(유한락스...",1962-11-01,12월,대표이..,http://www.yuhan.co.kr,서울특별시
2769,유가증권,000120,CJ대한통운,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,신영수..,http://www.cjlogistics.com,서울특별시
2770,유가증권,000050,경방,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준,..",http://www.kyungbang.co.kr,서울특별시
2771,유가증권,000700,유수홀딩스,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2772,유가증권,003480,한진중공업홀딩스,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,조원국,http://www.hhic-holdings.com,경기도

In [15]:
conn.close()

* 데이터베이스에 접속하는 함수 만들기

In [16]:
def _mysql_url(dbname=None):
    """
    dbname이 있으면 db이름을 포함한 접속주소 출력
    dbname이 없으면 port 까지만 포함해서 출력
    """
    if dbname:
        return f"mysql+pymysql://{dbid}:{dbpw}@{host}:{port}/{dbname}"
    return f"mysql+pymysql://{dbid}:{dbpw}@{host}:{port}"

* db접속 함수

In [17]:
def db_connect(dbname):
    engine_root = create_engine(_mysql_url())
    conn_root = engine_root.connect()
    conn_root.execute(text(f"create database if not exists {dbname}"))
    print(f"{dbname} 데이터베이스 확인/생성 완료")
    conn_root.close()
    
    engine = create_engine(_mysql_url(dbname))
    conn = engine.connect()
    return conn

In [18]:
conn = db_connect("stock_info2")

stock_info2 데이터베이스 확인/생성 완료

In [19]:
conn.execute(text("create table test (idx int not null, name varchar(100) not null)"))

* DB에 데이터 저장하는 함수

In [20]:
def to_db(dbname, table_name, df):
    conn = db_connect(dbname)
    df.to_sql(table_name, con=conn, index=False, if_exists="append")
    conn.close()
    print(f"{dbname}.{table_name} 데이터 저장 완료(append)")

In [21]:
from dbio import from_db

In [22]:
stock_data = from_db("stock_info", "stock_price_2026") 
stock_data

NameError: name 'host' is not defined

# 네이버 증권에서 주가 정보 수집하기

In [23]:
# 종목코드 가져오기
codes = data2['종목코드']
codes[:2]

0    0115H0
1    0004V0
Name: 종목코드, dtype: object

In [24]:
url = "https://finance.naver.com/item/main.naver?code=003480"
r = requests.get(url)
soup = bs(r.content, "lxml")
soup

NameError: name 'requests' is not defined

In [29]:
soup.select("#middle dl.blind dd")[:-3]

NameError: name 'soup' is not defined

In [30]:
result = {}
for idx, dd in enumerate(soup.select("#middle dl.blind dd")[:-3]):
    if idx == 0:
        result['날짜'] = "".join(dd.get_text().split()[:3]).replace("년", "-").replace("월", "-").replace("일", "")
    elif idx == 2:
        temp = dd.get_text().split()
        result['거래소'] = temp[2]
        result[temp[0]] = temp[1]
    elif idx == 3:
        temp = dd.get_text().split()
        result[temp[0]] = int(temp[1].replace(",", ""))
        if temp[3] == "상승":
            result[temp[2]] = int(temp[4])
        else:
            result[temp[2]] = -int(temp[4])
        if temp[5] == "플러스":
            result["증가율"] = temp[6]+"%"
        else:
            result["증가율"] = "-"+temp[6]+"%"
    else:
        if idx == 1 or  idx == 11:
            temp = dd.get_text().split()
            result[temp[0]] = temp[1]
        else:
            temp = dd.get_text().split()
            result[temp[0]] = int(temp[1].replace(",", ""))
             
result

NameError: name 'soup' is not defined

# 전체 상장 회사 주가정보 수집하기

In [25]:
import time

In [26]:
# 종목코드 가져오기
codes = data2['종목코드']
codes[:2]

0    0115H0
1    0004V0
Name: 종목코드, dtype: object

In [27]:
len(codes)

2773

In [28]:
for index, code in enumerate(codes[:20]):

    url = f"https://finance.naver.com/item/main.naver?code={code}"
    r = requests.get(url)
    soup = bs(r.content, "lxml")

    print(f"{index}/{len(codes)-1}  데이터 수집중", end="\r")    
    result = {} # 1개 회사의 주가
    for idx, dd in enumerate(soup.select("#middle dl.blind dd")[:12]):
        if idx == 0:
            result['날짜'] = "".join(dd.get_text().split()[:3]).replace("년", "-").replace("월", "-").replace("일", "")
        elif idx == 2:
            temp = dd.get_text().split()
            if len(temp) > 2:
                result['거래소'] = temp[2]
                result[temp[0]] = temp[1]
            else:
                result['거래소'] = ""
                result[temp[0]] = temp[1]
        elif idx == 3:
            temp = dd.get_text().split()
            result[temp[0]] = int(temp[1].replace(",", ""))
            if temp[3] == "상승":
                result[temp[2]] = int(temp[4].replace(",", ""))
            else:
                result[temp[2]] = -int(temp[4].replace(",", ""))
            if temp[5] == "플러스":
                result["증가율"] = temp[6]+"%"
            else:
                result["증가율"] = "-"+temp[6]+"%"
        else:
            if idx == 1 or  idx == 11:
                temp = dd.get_text().split()
                result[temp[0]] = temp[1]
            else:
                temp = dd.get_text().split()
                result[temp[0]] = int(temp[1].replace(",", ""))

    df = pd.DataFrame([result])
#     display(df)
    to_db("stock_info", "stock_price_2026", df)
    time.sleep(3)

NameError: name 'requests' is not defined

In [ ]:
soup.select("#middle dl.blind dd")